    <h1>Carrito de Compras</h1>
    <div class="products">
        {{#each cart.products}}
            <div class="product">
                <h2>{{this.productId.name}}</h2>
                <p>Precio: {{this.productId.price}}</p>
                <p>Cantidad: {{this.quantity}}</p>
                <form action="/carrito/{{../cart._id}}/producto/{{this.productId._id}}/eliminar" method="POST">
                    <button type="submit">Eliminar</button>
                </form>
            </div>
        {{/each}}
    </div>
    <form action="/carrito/{{cart._id}}/comprar" method="POST">
        <button type="submit">Comprar</button>
    </form>

